<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
<!--
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LifeShare</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
</head>

<body id="page-top">
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="quiq_frame">
                            <div class="quiz_heading">
                                <h2>
                                    Welcome
                                </h2>
                                <p>
                                    Please Enter Details to Login.
                                </p>
                            </div>
                            <div class="quiz_option">
                                <div class="boxes" id="boxes">
                                    <div class="login">
                                        <p>
                                            <input type="text" id="loginusername" placeholder="UserName">
                                        </p>
                                        <p>
                                            <input type="password" id="loginpassword" placeholder="Password">
                                        </p>
                                        <p>
                                            <button class="admin_login_btn" id="loginbtn">login</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <footer>
        <div class="container text-center">
            <p>Copyright &copy; LifeShare 2018</p>
            <p> created by Anubhav and Jyoti</p>
        </div>
    </footer>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
	-->