<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LifeShare</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main_page">
        <div class="main_container">
            <div class="quiq_frame">
                <div class="quiz_heading">
                    <h2>
                        Welcome
                    </h2>
                    <p>
                        Please Enter Details to Login.
                    </p>
                </div>
                <div class="quiz_option">
                    <div class="boxes" id="boxes">
                        <div class="login">
                            <p>
                                <input type="text" id="loginusername" placeholder="UserName">
                            </p>
                            <p>
                                <input type="password" id="loginpassword" placeholder="Password">
                            </p>
                            <p class='errorMsg' id="errorMsg" style=" color:red;">
                            </p>
                            <p>
                                <button class="admin_login_btn" id="loginbtn">login</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/loginscript.js"></script>
</body>

</html>